body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
  margin: auto;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

input, select, button {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
}

button {
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

#searchInput {
  width: 300px;
  display: block;
  margin: 20px auto;
  padding: 8px;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 500px;
  margin: auto;
}

li {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

li

